# Node modules
node_modules/

# Build output
dist/
build/

# TypeScript
*.tsbuildinfo

# Prisma
prisma/migrations/
prisma/dev.db

# Environment variables
.env

# Logs
logs/
*.log

# Dependency directories
jspm_packages/

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/

# TypeScript IDE-specific files
*.suo
*.ntvs_analysis.dat
*.njsproj
*.sln
*.sw?
